button{
    background-color: #5ba10b;
    margin-top: 100px;
    margin-left: 10px;
    margin-top: 100px
}
.text{
    text-align: center;
}
.link{
    cursor: pointer;
    margin-top: 100px;

}
.link:hover
{
  background-color:#007bff;
}