<p  style="margin-top: 100px;">
    node works! {{nodejs}}
</p>
<div>
    <p>{{ file.name }}</p>
    <p>{{ file.size | filesize }}</p>
    <p>{{ 2 | power:5 }}</p>
  </div>
  <section class="card">
    <div class="card-content">
      <div class="card-title">
          <div>
              <input type="radio" name="colors" (click)="color='lightgreen'">Green
              <input type="radio" name="colors" (click)="color='yellow'">Yellow
              <input type="radio" name="colors" (click)="color='cyan'">Cyan
            </div>
        <p [appHighlight]="color">Highlight me!</p>
      </div>
      <p> {{'yelling'}}</p>
      <p> {{'yelling' | toCaps}}</p>
      <p> {{'yelling' | toCaps | lowercase}}</p>
      <p> {{'yelling' | toCaps | lowercase | uppercase}}</p>
      <p> {{myDate | date}} </p>
      <p> {{value12345 | toCaps}}</p>
    </div>
  </section>
