.card-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    width: 45%;
    height: 100px;
    line-height: 100px;
    background-color: grey;
    margin: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
  .example-card {
    max-width: 400px;
    max-height:200px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-sort-header-container {
    align-items: center;
  }