<form [formGroup]="DateForm" (ngSubmit)="onSubmit()" *ngIf="bookingView">
  <img src="../../../assets/images/search.jpg" style="width: 100%;height:300px;">
  <div fxLayout="row">
    <div fxLayout="column">
      <p><b>{{bookingView.name}}</b></p>
      <p><b>Guest</b>:{{bookingView.capacity}}</p>
      <p><b>Number Of Days</b>:{{count}}</p>
      <p><b>Location</b>:{{bookingView.location}} {{bookingView.city}}</p>
      <div fxLayout="row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="From date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="To date" [min]="minDate" formControlName="todate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

      </div>
    </div>


    <div fxLayout="column" style="margin-left:650px">
      <p><b>Price</b>:{{bookingView.price *count}}/Room</p><br>
      <button mat-button>Book Now</button>
    </div>

  </div>


</form>
<mat-card>
  <h4>Review Details</h4>
  <div *ngFor="let review of bookingView.reviews" class="reviewcss" fxLayout="row">
    <div>
      <img src="../../../assets/images/profile.png" style="width: 100px;
        height: 87px;" /><br>
      <h3 style="text-align: center">{{review.reviewed_by.name}}</h3>
    </div>
    <div fxLayout="column" style="margin-left:50px">
      <p><b>{{review.establishment.name}}</b></p>
      <div fxLayout="row">
        <span *ngFor="let icon of [].constructor(review.rating)">
          <mat-icon>start</mat-icon>
        </span>
      </div>

      <p>{{review.reviewcontent}}</p>
    </div>

  </div>
</mat-card>