<h1>{{title}}</h1>
<h2>My favorite hero is: {{myHero}}</h2>
<p>Heroes:</p>
<ul>
  <li *ngFor="let hero of heroes" (click)="changeName(hero)">
    {{ hero }}
  </li>
</ul>
<p *ngIf="heroes.length > 3">There are many heroes!</p>
<!-- Input -->
<input (keyup)="onKey($event)">
<p>{{values}}</p>

<input #box (keyup)="onKey1(box.value)">
<button (click)="addHero(box.value)">Add</button>
<p>{{box.value}}</p>

<!-- strurual Directive -->
<p *ngIf="true">
  Expression is true and ngIf is true.
  This paragraph is in the DOM.
</p>
<p *ngIf="false">
  Expression is false and ngIf is false.
  This paragraph is not in the DOM.
</p>
<p [style.display]="'block'">
Expression sets display to "block".
This paragraph is visible.
</p>
<p [style.display]="'none'">
Expression sets display to "none".
This paragraph is hidden but still in the DOM.
</p>
  `
  <!-- ngSwich -->
  <h4>NgSwitch</h4>
<ul *ngFor="let person of people"
    [ngSwitch]="person.country"> 

  <li *ngSwitchCase="'UK'"
      class="text-success">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'HK'"
      class="text-danger">{{ person.name }} ({{ person.country }})
  </li>
  <!-- <li *ngSwitchDefault
      class="text-warning">{{ person.name }} ({{ person.country }})
  </li> -->
</ul>`
<p appHighlight>Highlight me!</p>