.example-container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  button{
    background-color: #0085ff;
    width: 30px;
    margin-top: 20px
}
mat-card{
  width: 40%;
  margin:auto;
  /* margin-top: 30px; */
}
.bgm{
  background-image: url("../../../assets/images/login.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
form{
  width: 181%;
    margin-left: 50px;
}