table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}
div {
    margin-left:10px;
    margin-top: 86px;
    margin-right: 10px;

}
.tableHeading{
    background-color: #1d3d4b;
    color: #eee;
}
button{
    background-color: #00BCD4;
    margin-left: 10px;
    margin-top: 66px;
    float: right;
    cursor: pointer;
}
.search{
    float: right;   
}